/* styles.css */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
} */

.main-content {
    overflow: auto;
    height: 100%;
    
}

.container_about {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px black;
    font-family: "luciole", sans-serif;
    z-index: 10;
    position: relative;
}



.about-me {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.about-me>div{
    
    display: flex;
    align-items: center;
    flex-direction: column; 
   
}
.about-me .about_me_img {
   display: block;
}

.profile-image {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    position: sticky;
    top: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "luciole", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-family: "luciole", sans-serif;
}

.colonneMilieu {
    padding: 10px;
    margin-bottom: 10px;
    width: 1.5cm;
    border: 2px ;

}
.titre_a_propo{
    font-size: 34px;
    letter-spacing: 10px;
    position: relative;
    display: inline-block;
    align-self: flex-start;
    margin-left: 3%;
    margin-right: auto;
    font-family: "luciole", serif;
}

 .titre_a_propo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 18px;
    left: 260px;
} 



.encadre {
    border: 1px solid aliceblue;
    padding: 10px;
    margin-bottom: 10px;
}


.italic-red {
    color: red;
    font-style: italic;
}

a:link,
a:visited {
    color: white;
    
}


@media (max-width: 764px) {
    .about-me {
        width: 100%;
    }
  }