@font-face {
  font-family: "luciole";
  src: url("/font/Luciole-Regular.ttf") format("truetype");
}

:root {
  --font: "luciole";
}

body {
  overflow-y: scroll;
  scrollbar-color: #fff rgb(64, 129, 64);
  font-family: var(--font), sans-serif;
}

.main-content {
  box-sizing: border-box;
  height: 100%;

  overflow: auto !important ;
}

.competence-title {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  position: relative;
  display: inline-block;
  font-family: "luciole", serif;
  align-self: flex-start;
  margin-left: 3rem;
}

.competence-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  bottom: 18px;
  left: 20rem;
}

/* Section des compétences */
.competence {
  box-sizing: border-box;
  overflow-y: scroll;
}

.competence_tableau {
  margin-bottom: 2rem;
}

.competence_tableau_contenu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.competence_tableau_contenu table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #abb2bf; /* Bordure autour du tableau */
  margin: 0;
}

.competence_tableau_contenu th {
  border: 1px solid #abb2bf; /* Bordure autour des cellules */
  padding: 8px; /* Espacement interne dans les cellules */
  text-align: left;
}

.competence_tableau_languages {
  grid-area: 1 / 3 / 2 / 5;
}

.competence_tableau_dataBase {
  grid-area: 1 / 5 / 2 / 7;
}

.competence_tableau_Frame {
  grid-area: 2 / 3 / 3 / 5;
}

.competence_tableau_tools {
  grid-area: 2 / 5 / 3 / 7;
}

.competence_tableau_other {
  grid-area: 3 / 3 / 4 / 7;
}

/* Separator */

.divider {
  position: relative;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48, 49, 51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}
/* Section de la timeline */
.timeline-title {
  text-align: center;
  border: 3px solid #abb2bf; /* Bordure épaisse de 3px de couleur */
  padding: 10px; /* Padding pour le titre */
  margin: 20px auto; /* Marge auto pour centrer le titre horizontalement */
  display: inline-block;
}

.timeline {
  background-image: repeating-linear-gradient(
    60deg,
    #000 0px,
    #222 2px,
    #000 4px
  );

  display: flex;
  justify-content: center;
}

.timeline_title_div {
  display: flex;
  justify-content: center;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  max-width: 400px;
}

.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #fff;
}

.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
}

@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.info {
  display: flex;
  flex-direction: column;
  background: #333;
  color: rgb(96, 94, 94);
  border-radius: 10px;
  padding: 10px;
}

.title {
  color: #fff;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: goldenrod;
  border-radius: 999px;
  border: 3px solid #fff;
}

.card:nth-child(even) > .info > .title {
  text-align: right;
}

.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

.card:nth-child(even) > .info > .title::before {
  right: -45px;
}
